<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" method="post" th:action="@{/insertNewCourse}" th:object="${course}">
    <table>
        <tr>
            <td>Course Title:</td>
            <td><input type="text" th:field="*{title}" placeholder="courseTitle"/></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">courseTitle error</td>
        </tr>
        <tr>
            <td>Course Description:</td>
            <td><input type="text" th:field="*{description}" placeholder="courseDescription"/></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">courseDescription error</td>
        <tr>
            <td>Course Professor ID:</td>
            <td><input type="text" th:field="*{professor}" placeholder="professor id"/></td>
            <td th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}">courseProfessor id
                error
            </td>
        </tr>
        <tr>
            <td>Course Code:</td>
            <td><input type="text" th:field="*{courseCode}" placeholder="courseCode"/></td>
            <td th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}">courseCod error</td>
        </tr>
        <tr>
            <td>Course Evaluation:</td>
            <td><input type="text" th:field="*{evaluation}" placeholder="courseEvaluation"/></td>
            <td th:if="${#fields.hasErrors('evaluation')}" th:errors="*{evaluation}">courseEvaluation error</td>
        </tr>
        <tr>
            <td>Course CP:</td>
            <td><input type="text" th:field="*{CP}" placeholder="CP"/></td>
            <td th:if="${#fields.hasErrors('CP')}" th:errors="*{CP}">CP error</td>
        </tr>
        <tr>
            <td>Course Prerequisites:</td>
            <td><input type="text" th:field="*{prereq}" placeholder="coursePrerequisites"/></td>
            <td th:if="${#fields.hasErrors('prereq')}" th:errors="*{prereq}">coursePrerequisite error</td>
        </tr>
        <tr>
            <td>Course objective:</td>
            <td><input type="text" th:field="*{objective}" placeholder="objective"/></td>
            <td th:if="${#fields.hasErrors('objective')}" th:errors="*{objective}">objective error</td>
        </tr>
        <tr>
            <td>Course Outcome:</td>
            <td><input type="text" th:field="*{outcome}" placeholder="outcome"/></td>
            <td th:if="${#fields.hasErrors('outcome')}" th:errors="*{outcome}">outcome error</td>
        </tr>
        <tr>
            <td>Course Content:</td>
            <td><input type="text" th:field="*{content}" placeholder="content"/></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit course</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>