<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
	name="viewport">
<title>IS System - Create a course</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-dark">
	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Input course details</div>
			<div class="card-body">
				<form action="#" method="post"
					th:action="@{/insertNewCourse/__${id}__}" th:object="${course}">
					<div class="form-group">
						<div class="form-label-group">
							<input autofocus="autofocus" class="form-control"
								id="courseTitle" placeholder="Course title" required="required"
								th:field="*{title}" type="text"> <label
								for="courseTitle">Course title</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="courseDescription"
										maxlength="299" placeholder="Course description"
										th:field="*{description}" type="text"> <label
										for="courseDescription">Course description</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="courseCode" maxlength="30"
										pattern="[a-zA-Z0-9]*" placeholder="Course code"
										required="required" th:field="*{courseCode}" type="text">
									<label for="courseCode">Course code</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<select name="evaluation"
										class="custom-select custom-select-lg">
										<option value="test">Test</option>
										<option value="exam">Exam</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="CP" maxlength="1"
										placeholder="Credit points" required="required"
										th:field="*{CP}" type="text"> <label for="CP">Credit
										points</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="prereq" maxlength="999"
										placeholder="Prerequisites" th:field="*{prereq}" type="text">
									<label for="prereq">Prerequisites</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="objective" maxlength="999"
										placeholder="Objective" th:field="*{objective}" type="text">
									<label for="objective">Objective</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="outcome" maxlength="999"
										placeholder="Outcome" th:field="*{outcome}" type="text">
									<label for="outcome">Outcome</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input class="form-control" id="content" maxlength="999"
										placeholder="Content" th:field="*{content}" type="text">
									<label for="content">Content</label>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-primary btn-block" type="submit">Create</button>
					<button class="btn btn-primary btn-block" type="reset">Reset</button>
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" th:href="@{/professorMenu/__${id}__}">Back</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>