<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <form action="#" th:action="@{/index}" th:object ="${user}" method="post">
        Username: <input type="text" name="Username" th:field="*{name}" value=""><br>
        Password: <input type="text" name="Password" th:field="*{password}" value=""><br>

        <div>
            <input type="radio" id="Professor" name="Prof/Stud" value="Professor"
                   checked>
            <label for="Professor">Professor</label>
        </div>

        <div>
            <input type="radio" id="Student" name="Prof/Stud" value="Student">
            <label for="Student">Student</label><br>

        <input type="submit" name = "Auth" value="Submit">
        <input type="submit" name = "Auth" value="Register">
        </div>
    </form>

</body>
</html>