<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <form action="/">
        Username: <input type="text" name="Username" value=""><br>
        Password: <input type="text" name="Password" value=""><br>

        <div>
            <input type="radio" id="Professor" name="Prof/Stud" value="Professor"
                   checked>
            <label for="Professor">Professor</label>
        </div>

        <div>
            <input type="radio" id="Student" name="Prof/Stud" value="Student">
            <label for="Student">Student</label>
        </div>

        <input type="submit" value="Submit">
        <input type="submit" value="Register">
    </form>
</body>
</html>