<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<table>
		<form action="#" method="post" th:action="@{/professorMenu/__${id}__}">
			<td><button name="profButton" th:value="showMyCourse" type="submit">Show course options</button></td>
			<td><button name="profButton" th:value="insertNewCourse" type="submit">Add new course</button></td>
			<td><button name="profButton" th:value="exportGrades" type="submit">Export grades</button></td>
		</form>
	</table>
</body>
</html>
