<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register to Courses</title>
</head>
<body>
<p>Please check the boxes to which courses you want to apply</p>

<form name="regToCourse" action="#" th:action="@{/registerToCourse/__${id}__}" th:object="${listOfCheck}" method="post">
    <table>
        <th:block th:each="c, itemStat : ${regToCourse}">
            <input type="checkbox" name="courseButtonID" th:checked="${isChecked}" th:name="${c.getCourseID()}"
                   th:text="${c.getTitle()}" th:field="*{listOfCheck[__${itemStat.index}__]}"/><br>
        </th:block>
    </table>
    <input type="submit" onclick="" value="Submit">
</form>
</body>
</html>