<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register to Courses</title>
</head>
<body>
    <p>Please check the boxes to which courses you want to apply</p>
    <form action="#" method="get" name="regtocourse" th:action="@{/registerToCourse}" th:object="${courseTests}">
        <th:block th:each="c : ${courseTests}">
            <input th:name="${c.getCourseID()}" th:text="${c.getTitle()}" th:value="${c.getTitle()}" type="checkbox"><br>
        </th:block>
    <input type="submit" value="Submit">
</form>
</body>
</html>