<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register to Courses</title>
</head>
<body>
  <p>Please check the boxes to which courses you want to apply</p>
  <form name="regtocourse" action="#" th:action="@{/registerToCourse}" th:object="${courseTests}" method="post">
      <th:block th:each="c : ${courseTests}">
          <input type="checkbox" name="courseButtonID" th:name="${c.getCourseID()}" th:value="${c.getTitle()}" th:text="${c.getTitle()}"><br>
      </th:block>
      <input type="submit" value="Submit">
  </form>
</body>
</html>