<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<form action="#" th:action="@{/RegView}" th:object="${user}" method="post">
    Username: <input type="text" name="Username" value=""><br>
    ID:       <input type="text" name="ID" value=""><br>
    E-mail:   <input type="text" name="Email" value=""><br>
    Password: <input type="text" name="password" value=""><br>
    Password: <input type="text" name="password" value=""><br>
    <div>
        <input type="radio" id="Professor" name="Prof/Stud" value="Professor"
               checked>
        <label for="Professor">Professor</label>
    </div>

    <div>
        <input type="radio" id="Student" name="Prof/Stud" value="Student">
        <label for="Student">Student</label>
    </div>

    <td><button type="submit" name="Reg" th:value="register">Register</button></td>
</form>
</body>
</html>