<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script>
        function checkpassword() {
            var p=f.password.value;
            var cp=f.confirm_password.value;
            if(p==cp);
            else
                alert("Password mismatch!")
        }
    </script>
</head>
<body>

<form action="#" method="post" th:action="@{/RegView}" th:object="${student}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input maxlength="30" pattern="[a-zA-Z]*" placeholder="Firstname" required th:field="*{name}"
                       type="text"/></td>
            <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">userName error</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input maxlength="30" pattern="[a-zA-Z]*" placeholder="Lastname" required th:field="*{lastname}"
                       type="text"/></td>
            <td th:errors="*{lastname}" th:if="${#fields.hasErrors('lastname')}">userLastname error</td>
        <tr>
            <td>Username:</td>
            <td><input maxlength="30" pattern="[a-zA-Z0-9]*" placeholder="Username" required th:field="*{username}"
                       type="text"/></td>
            <td th:errors="*{username}" th:if="${#fields.hasErrors('username')}">userUsername error
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input maxlength="30" placeholder="Password" required th:field="*{password}" type="password"/></td>
            <td th:errors="*{password}" th:if="${#fields.hasErrors('password')}">userPassword error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="confirm_password" maxlength="30" name="confirm_password" placeholder="password" required
                       type="password"/>
            </td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input placeholder="Email" th:field="*{email}" type="email"/></td>
            <td th:errors="*{email}" th:if="${#fields.hasErrors('email')}">userEmail error</td>
        </tr>
        <tr>
	        <td><input th:field="*{role}" type="radio" name="role" value="1" checked> Professor</td>
	  		<td><input th:field="*{role}" type="radio" name="role" value="2"> Student</td>
        </tr>
        <tr>
            <td>
            	<button type="reset">Reset</button>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
