<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Set student grades</title>
</head>
<body>
<form action="#" th:action="@{/setGradesView/__${id}__}" th:object="${setStudentGrades}" method="post">
    <table>
            <th:block th:each="gr, itemStat : *{studentsAndGradesList}">
                <tr>
                    <td th:text="${gr.getStudentName()}">...</td>
                    <td th:text="${gr.getStudentLastname()}">...</td>

                    <td><input th:field="*{studentsAndGradesList[__${itemStat.index}__].grade}"/></td>
                </tr>
            </th:block>
        <tr>
            <td><input type="submit" value="Set Grades"></td>
        </tr>
    </table>

</form>
</body>

</html>