<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Info</title>
</head>
<body>
    <table border="1">
		<form action="#" method="get" name="ShowMyCour" th:action="@{/ShowStudentCourse/__${id}__}" th:object="${myCourse}">
	        <th>Title</th>
	        <th>Professor</th>
	        <th>Course code</th>
	        <th>CP</th>
	        <th>Description</th>
	        <th>Evaluation</th>
	        <th>Content</th>
	        <th>Objective</th>
	        <th>Outcome</th>
	        <th>Prerequisites</th>
	        <th:block th:each="mc : ${myCourse}">
		        <tr>
		            <td th:text="${mc.getTitle()}">...</td>
		            <td th:text="${mc.getProfessor()}">...</td>
		            <td th:text="${mc.getCourseCode()}">...</td>
		            <td th:text="${mc.getCP()}">...</td>
		            <td th:text="${mc.getDescription()}">...</td>
		            <td th:text="${mc.getEvaluation()}">...</td>
		            <td th:text="${mc.getContent()}">...</td>
		            <td th:text="${mc.getObjective()}">...</td>
		            <td th:text="${mc.getOutcome()}">...</td>
		            <td th:text="${mc.getPrereq()}">...</td>
		        </tr>
	        </th:block>
		</form>
    </table>
</body>
</html>