<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Info</title>
</head>
<body>
    <table border="1">
        <th>Title</th>
        <th>Professor</th>
        <th>Course code</th>
        <th>CP</th>
        <th>Description</th>
        <th>Evaluation</th>
        <th>Content</th>
        <th>Objective</th>
        <th>Outcome</th>
        <th>Prerequisites</th>
        <tr>
            <td th:text="${course.getTitle()}">TEST</td>
            <td th:text="${course.getProfessor()}">...</td>
            <td th:text="${course.getCourseCode()}">...</td>
            <td th:text="${course.getCP()}">...</td>
            <td th:text="${course.getDescription()}">...</td>
            <td th:text="${course.getEvaluation()}">...</td>
            <td th:text="${course.getContent()}">...</td>
            <td th:text="${course.getObjective()}">...</td>
            <td th:text="${course.getOutcome()}">...</td>
            <td th:text="${course.getPrereq()}">...</td>
        </tr>
    </table>
</body>
</html>