<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form action="#" method="post" name="a" th:action="@{/start}" th:object="${student}">
    <table>
        <tr>
            <td>User</td>
            <td><input name="Username" required th:field="*{username}" type="text" value=""/></td>
            <td>Password:</td>
            <td><input name="password" required th:field="*{password}" type="password" value=""/></td>
        </tr>
        <tr>
            <td><button name="Auth" onclick="nullalert()" th:value="submit" type="submit" value="nullalert()"> Submit</button></td>
            <td><button formnovalidate name="Auth" th:value="Reg" type="submit" value="ignore">Register</button></td>
        </tr>
    </table>
</form>
</body>
</html>