
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>



</head>
<body>
<form name="a" action="#" th:action="@{/start}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>User</td>
            <td><input type="text" name="Username" th:field="*{username}" value=""required/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" th:field="*{password}" value=""required/></td>
        </tr>
        <tr>
            <td><button type="submit" name="Auth" th:value="submit" value="nullalert()" onclick="nullalert()"> Submit</button></td>
            <td><button type="submit" value="ignore" formnovalidate name="Auth" th:value="Reg">Register</button></td>

        </tr>
    </table>
</form>
</body>
</html>