<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <table>
        <form action="#" method="post" th:action="@{/StudentMenu/__${id}__}">
            <td><button name="studButton" value="regToCourse" type="submit">Register to courses</button></td>
            <td><button name="studButton" value="ShowMyCours" type="submit">Show my courses</button></td>
            <td><button name="studButton" value="ShowGrades" type="submit">Show my grades</button></td>
        </form>
    </table>
</body>
</html>