<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <table>
        <form action="#" method="post" th:action="@{/logStud}" th:object="${Student}">
            <td><button name="ShowCours" th:value="ShowCours" type="submit">Show all courses</button></td>
            <td><button name="ShowMyCours" th:value="ShowMyCours" type="submit">Show all my courses</button></td>
            <td><button name="ShowGrades" th:value="ShowGrades" type="submit">Show my grades</button></td>
        </form>
    </table>
</body>
</html>